/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color: rgb(57, 56, 56);
    color: rgb(224, 155, 155);
    padding: 20px;
  }
  
  header h1 {
  
    
    color:rgb(241, 154, 154);
    font-size: 30px;
  }
   h2 {
    font-family: 'Times New Roman', Times, serif ;
    color:rgb(103, 30, 93);
    font-size: 30px;
  }
  
  h3 {
     font-family: Georgia, 'Times New Roman', Times, serif; 
    color:rgb(13, 47, 23);
    font-size: 20px;
  }
  
  nav ul li {
    display: inline;
    margin-right: 40px;
  }
  
  nav ul li a {
    color: rgb(125, 197, 207);
    text-decoration: none;
  }
  
  section {
    padding: 10px;
  }
  
  section h2 {
    margin-bottom: 10px;
  }
  
 
  footer {
    background-color: #333;
    color: rgb(174, 162, 162);
    padding: 10px;
    text-align: start;
  }
  